<!DOCTYPE html>
<!-- Website template by freewebsitetemplates.com -->
<html>
<head th:replace="fragments::head"></head>
<body>
<div id="page">
    <div th:replace="fragments :: #header"></div>
    <div id="body">
        <div class="header">
            <div>
                <h1>ERROR</h1>
            </div>
        </div>
        <div class="body">
            <img src="images/bg-header-about.jpg" alt="" />
        </div>
        <div class="footer">
            <div class="sidebar">
                <h1>E R R O R</h1>
            </div>
            <div class="article">
                <h1>Kontaktujte prosím administrátora</h1>
                <p>Důvod erroru: </p>
                <span th:text="${errorMessage}"></span>
                <p>Error code: </p>
                <span th:text="${errorCode}"></span>
            </div>
        </div>
    </div>
    <div th:replace="fragments::footer"></div>
</div>
</body>
</html>
