<!DOCTYPE html>
<!-- Website template by freewebsitetemplates.com -->
<html>
<head th:replace="fragments::head"></head>
<body>
<div id="page">
    <div id="header" th:replace="fragments::header"></div>

    <div id="body" class="home">
        <div class="header">
            <img th:src="@{img/bg-home.jpg}" alt=""/>
            <div>
                <a href="product.html">Freeze Delight</a>
            </div>
        </div>
        <div class="body">
            <div>
                <div>
                    <h1>Nový produkt</h1>
                    <h2>Maliny s jogurtem, jak překvapivé!</h2>
                    <p>Lorem Ipsum rulez Lorem Ipsum rulez Lorem Ipsum rulez Lorem Ipsum rulez Lorem Ipsum rulez Lorem
                        Ipsum rulez Lorem Ipsum rulez </p>
                </div>
                <img th:src="@{img/yogurt.jpg}" alt=""/>
            </div>
        </div>
        <div class="footer">
            <div>
                <ul>
                    <li>
                        <a href="product.html" class="product"></a>
                        <h1>PRODUKTY</h1>
                    </li>
                    <li>
                        <a href="about.html" class="about"></a>
                        <h1>NÁŠ PŘÍBĚH</h1>
                    </li>
                    <li>
                        <a href="product.html" class="flavor"></a>
                        <h1>PŘÍCHUTĚ</h1>
                    </li>
                    <li>
                        <a href="contact.html" class="contact"></a>
                        <h1>NAŠE POZICE</h1>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div id="footer">
        <div>
            <div class="connect">
                <a href="http://freewebsitetemplates.com/go/facebook/" class="facebook">facebook</a>
                <a href="http://freewebsitetemplates.com/go/twitter/" class="twitter">twitter</a>
                <a href="http://freewebsitetemplates.com/go/googleplus/" class="googleplus">googleplus</a>
                <a href="http://pinterest.com/fwtemplates/" class="pinterest">pinterest</a>
            </div>
            <p>&copy; 2023 Freeeze. All Rights Reserved.</p>
        </div>
    </div>
</div>
</body>
</html>
