<!doctype html>
<!-- Website template by freewebsitetemplates.com -->
<html>
<head th:replace="fragments::head"></head>
<body>
<div id="page">
    <head th:replace="fragments::header"></head>

    <div id="body">
        <div class="header">
            <div>
                <h1>Blog</h1>
            </div>
        </div>
        <div class="blog">
            <div class="featured">
                <ul>
                    <li>
                        <img src="images/new-chills.png" alt="" />
                        <div>
                            <h1>NEW CHILLS FOR SUMMER</h1>
                            <span>By Admin on November 28, 2023</span>
                            <p>You can replace all this text with your own text. You can remove any link to our website
                                from this website template, you're free to use this website template without linking
                                back to us. If you're having problems editing this website template.</p>
                            <a href="singlepost.html" class="more">Read More</a>
                        </div>
                    </li>
                    <li>
                        <img src="images/berries.png" alt="" />
                        <div>
                            <h1>BERRIES ON THE GROVE</h1>
                            <span>By Admin on November 28, 2023</span>
                            <p>You can replace all this text with your own text. You can remove any link to our website
                                from this website template, you're free to use this website template without linking
                                back to us. If you're having problems editing this website template.</p>
                            <a href="singlepost.html" class="more">Read More</a>
                        </div>
                    </li>
                </ul>
                <a href="login.html" class="load">Load More</a>
            </div>
            <div class="sidebar">
                <h1>Recent Posts</h1>
                <img src="images/on-diet.png" alt="" />
                <h2>ON THE DIET</h2>
                <span>By Admin on November 28, 2023</span>
                <p>You can replace all this text with your own text. You can remove any link to our website from this
                    website template.</p>
                <a href="singlepost.html" class="more">Read More</a>
            </div>
        </div>
    </div>
    <div id="footer">
        <div>
            <div class="connect">
                <a href="http://freewebsitetemplates.com/go/facebook/" class="facebook">facebook</a>
                <a href="http://freewebsitetemplates.com/go/twitter/" class="twitter">twitter</a>
                <a href="http://freewebsitetemplates.com/go/googleplus/" class="googleplus">googleplus</a>
                <a href="http://pinterest.com/fwtemplates/" class="pinterest">pinterest</a>
            </div>
            <p>&copy; 2023 Freeeze. All Rights Reserved.</p>
        </div>
    </div>
</div>
</body>
</html>
