<!doctype html>
<!-- Website template by freewebsitetemplates.com -->
<html>
<head th:replace="fragments::head"></head>

<body>
	<div id="page">
		<div th:replace="fragments::#header"></div>
		<div id="body">
			<div class="header">
				<div>
					<h1>Produkty</h1>
				</div>
			</div>
			<div>
				<ul>
					<li>
						<h1>All Time Classic</h1>
						<p>This website template has been designed by freewebsitetemplates.com for you, for free.</p>
					</li>
					<li>
						<img th:src="@{img/kiwi.jpg}" alt="" />
						<h2>Kiwi</h2>
					</li>
					<li>
						<img th:src="@{img/mango.jpg}" alt="" />
						<h2>Mango</h2>
					</li>
					<li>
						<img th:src="@{img/cantaloupe.jpg}" alt="" />
						<h2>Cantaloupe</h2>
					</li>
				</ul>
				<ul>
					<li>
						<h1>Berry Special</h1>
						<p>This website template has been designed by freewebsitetemplates.com for you, for free.</p>
					</li>
					<li>
						<img th:src="@{img/blackberry.jpg}" alt="" />
						<h2>blackberry</h2>
					</li>
					<li>
						<img th:src="@{img/strawberry.jpg}" alt="" />
						<h2>Strawberry</h2>
					</li>
					<li>
						<img th:src="@{img/blueberry.jpg}" alt="" />
						<h2>BLUEBERRY</h2>
					</li>
				</ul>
				<ul>
					<li>
						<h1>Fruit Blast</h1>
						<p>This website template has been designed by freewebsitetemplates.com for you, for free.</p>
					</li>
					<li>
						<img th:th:src="@{@{img/grapes.jpg}" alt="" />
						<h2>Grapes</h2>
					</li>
					<li>
						<img th:src="@{img/green-apple.jpg}" alt="" />
						<h2>Green Apple</h2>
					</li>
					<li>
						<img th:src="@{img/pineapple.jpg}" alt="" />
						<h2>Pineapple</h2>
					</li>
				</ul>
			</div>
		</div>
		<div th:replace="fragments::#footer"></div>
	</div>
</body>
</html>
