<!doctype html>
<!-- Website template by freewebsitetemplates.com -->
<html>
<head th:replace="fragments::head"></head>
<body>
<div id="page">
    <div th:replace="fragments::header"></div>
    <div id="body" class="contact">
        <div class="header">
            <div>
                <h1>Administrace produktů</h1>
            </div>
        </div>
        <div class="footer">
            <div class="contact">
                <h1>Vložit produkt</h1>
                <form th:action="@{/addProductsDb}" th:object="${product}" method="post">
                    <input type="text" name="Type" th:text="${type}" value="Type" onblur="this.value=!this.value?'Product name':this.value;" onfocus="this.select()" onclick="this.value='';" th:field="*{type}"/>
                    <span class="error" th:if="${#fields.hasErrors('type')}" th:errors="*{type}">Name Error</span>
                    <input type="text" name="Price" value="Price" onblur="this.value=!this.value?'Price':this.value;"  onfocus="this.select()" onclick="this.value='';" th:field="*{price}"/>
                    <span class="error" th:if="${#fields.hasErrors('price')}" th:errors="*{price}">Price Error</span>
                    <input type="text" name="Category" value="Category" onblur="this.value=!this.value?'Category':this.value;" onfocus="this.select()" onclick="this.value='';" th:field="*{category}"/>
                    <span class="error" th:if="${#fields.hasErrors('category')}" th:errors="*{category}">Cat Error</span>
                    <input type="hidden" name="Id" th:field="*{id}" th:text="${id}"/>
                    <select type="text" name="Images" th:field="*{image}" >
                    <option th:each="image : ${images}" th:value="${image}" th:text="${image}"></option>
                    </select>
                    <p/>
                        <textarea name="meassage" cols="50" rows="7"
                                  th:if="!isValidInput">Zadané hodnoty jsou nevalidní.</textarea>
                    <label th:text="${success}"></label>
                    <input type="submit" value="Vytvořit" id="submit"/>
                </form>

            </div>
            <div class="section">
                <h1>Vložit produkt</h1>
                <p>Obrázek je možné přidat pomocí nadefinování jeho cesty, pro přidání úplně nového obrázku lze přidat obrázek na sdílené uložiště a odkazovat se na něj</p>
            </div>
        </div>
        <div class="footer">
            <div class="contact">
                <h1>Vyhledat produkt</h1>
                <form th:action="@{/searchProducts}" th:object="${product}" method="post">
                    <label for="type" title="title">Název produktu</label>
                    <input id="type" type="text" name="Type" value="" />
                    <label id ="category" for="type" title="title">Kategorie</label>
                    <input type="text" name="Category" value="" />
                        <textarea name="meassage" cols="50" rows="7"
                                  th:if="!isValidInput">Zadané hodnoty jsou nevalidní.</textarea>
                    <input type="submit" value="Vyhledat" id="submit"/>
                </form>
                <p/>
                <table class="table-fill" title="Výsledek hledání" th:unless="${#lists.isEmpty(products)}">
                    <tbody class="table-hover">
                    <tr>
                        <th>Název</th>
                        <th>Cena</th>
                        <th>Kategorie</th>
                        <th>Odstranit</th>

                    </tr>
                    </tbody>
                    <tr th:each="p : ${products}">
                        <td class="text-left" th:text="${p.type}"></td>
                        <td class="text-left" th:text="${p.price}"></td>
                        <td class="text-left"><a th:href="@{/updateProducts(id=${p.id})}">Editovat</a></td>
                        <td class="text-left"><a th:href="@{/removeProductdb(id=${p.id})}">Odstranit</a></td>
                    </tr>
                </table>
            </div>
            <div class="section">
                <h1>Zadejte kriteria pro vyhledání produktů</h1>
                <p>V případě nevyplnění pole se vyhledávají všechny produkty</p>
            </div>
        </div>
    </div>
    <div th:replace="fragments::#footer"></div>
</div>
</body>
</html>
