<!doctype html>
<!-- Website template by freewebsitetemplates.com -->
<html>
<head th:replace="fragments::head"></head>
<body>
<div id="page">
    <div th:replace="fragments::header"></div>
    <div id="body" class="contact">
        <div class="header">
            <div>
                <h1>Administrace uživatelů</h1>
            </div>
        </div>

        <div class="footer">
            <div class="contact">
                <h1>Přidej uživatele</h1>
                <form th:action="@{addUser}" th:object="${userDto}" method="post">
                    <input type="text" name="Name" onblur="this.value=!this.value?'Username':this.value;"
                           onfocus="this.select()" onclick="this.value='';" th:field="*{user.username}"/>
                    <input type="text" name="Email" onblur="this.value=!this.value?'Password':this.value;"
                           onfocus="this.select()" onclick="this.value='';" th:field="*{user.password}"/>
                    <input type="text" name="Subject" onblur="this.value=!this.value?'Enabled':this.value;"
                           onfocus="this.select()" onclick="this.value='';" th:field="*{user.enabled}"/>
                    <select type="text" name="Authorities" th:field="*{authorities.authority}">
                        <option th:each="a : ${T(cz.tnpwteam.model.AuthoritiesEnum).values()}" th:value="${a}"
                                th:text="${a}"></option>
                    </select>
                    <p/>
                    <!--<label class="error" name="meassage"  th:if="${!isValidInput}">Zadané hodnoty jsou nevalidní.</label>-->
                    <label th:text="${success}"></label>
                    <input type="submit" value="Vytvořit" id="submit"/>
                </form>
            </div>
            <div class="section">
                <h1>Vložte uživatele</h1>
                <p>Pro vložení uživatele zadejte postupně username, password, zda je povolený a roli.</p>
            </div>
        </div>
        <div class="footer">
            <div class="contact">
                <h1>Vyhledej uzivatele</h1>
                <form th:action="@{showUsers}" th:object="${userDto}" method="post">
                    <input type="text" name="Name" th:field="*{user.username}"/>
                    <!--<select type="text" name="Authorities" th:field="*{authorities.authority}" >-->
                    <!--<option th:each="a : ${T(cz.tnpwteam.model.AuthoritiesEnum).values()}" th:value="${a}" th:text="${a}"></option>-->
                    <!--</select>-->
                    <p/>
                    <!--<label class="error" name="meassage" th:if="${!isValidInput}">Zadané hodnoty jsou nevalidní.</label>-->
                    <input type="submit" value="Hledat" id="submit"/>
                </form>
                <p/>
                <table th:unless="${#lists.isEmpty(results)}">
                    <tr>
                        <th>Username</th>
                        <th>Password</th>
                        <th>Enabled</th>
                        <th>Odstranit</th>
                    </tr>
                    <tr th:each="user : ${results}">
                        <td th:text="${user.username}"></td>
                        <td th:text="${user.password}"></td>
                        <td th:text="${user.enabled}"></td>
                        <td><a th:href="@{/removeUser(username=${user.username})}">Odstranit</a></td>
                    </tr>
                </table>
            </div>
            <div class="section">
                <h1>Zadejte kriteria pro vyhledání uživatelů</h1>
                <p>V případě nevyplnění pole se vyhledají všichni uživatelé</p>
            </div>
        </div>
    </div>
    <div th:replace="fragments::footer"></div>
</div>
</body>
</html>